<section>

  <header class="header">
		<h1>Listings</h1>
    <%= link_to "View past reservations", start_date_before_path, class: "new-todo" %>
    <%= link_to "New Listing", new_listing_path, class: "new-todo" %>
	</header>

  <section class="main">
    <ul class="todo-list">
      <% @listings.each do |list| %>
        <li>
          <div class="view">
            <%= link_to list.title, listing_path(list) %>
            <div id="listing-<%= list.id %>"><%= truncate(list.description) %></div>
            <button class="js-more" data-id="<%= list.id %>">More Info</button>
          </div>

        </li>
    <% end %>
    </ul>
  </section>

</section>

<%= render "partials/footer" %>
