<section>
  <header class="header">
		<h1>Listings</h1>
    <%= link_to "View past reservations", start_date_before_path, class: "new-todo" %>
    <%= link_to "New Listing", new_listing_path, class: "new-todo" %>
	</header>

  <section class="main">
    <ul class="todo-list">
      <% @listings.each do |list| %>
        <li>
          <div class="view">
            <%= link_to list.title, listing_path(list) %>
            <div id="listing-<%= list.id %>"><%= truncate(list.description) %></div>
            <button class="js-more" data-id="<%= list.id %>">More Info</button>
          </div>
        </li>
    <% end %>
    </ul>
  </section>
</section>

<%= render "partials/footer" %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-more").on("click", function() {
      var id = $(this).data("id");
      $.get("/listings/" + id + ".json", function(data) {
        var descriptionText = "<p>" + data["description"] + "</p>";
        $("#listing-" + id).html(descriptionText);
      });
    });
  });
</script>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("document").ready(function() {//upon page loading,
      //grab all listings, make them into models.
      $.get("/listings.json", function(data) {
        console.log(data);
        //create JavaScript models with data
      });
    });
  });
</script>
