<section class="todoapp">

  <header class="header">
    <h1>New listing</h1>
  </header>

    <%= form_for(@listing) do |f| %>
      <%= f.text_field :title, :class => "new-todo", :placeholder => (@listing.errors.full_messages_for(:title).first || "Enter a title for your Listing") %>
      <%= f.text_field :description, :class => "new-todo", :placeholder => (@listing.errors.full_messages_for(:description).first || "Enter a Description") %>
      <%= f.text_field :bedrooms, :class => "new-todo", :placeholder => (@listing.errors.full_messages_for(:bedrooms).first || "Enter the number of bedrooms") %>
      <%= f.text_field :bathrooms, :class => "new-todo", :placeholder => (@listing.errors.full_messages_for(:bathrooms).first || "Enter number of bathrooms") %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit :style => "display: none" %>
    <% end %>

</section>
<%= render "partials/footer" %>
