<section class="todoapp">

  <header class="header">
	   <h1><%= @listing.title %></h1>
	</header>

  <section class="main">
    <ul class="todo-list">
      <%= @listing.features.each do |feat| %>
        <li>
          <div class="view">
            <label><%= feat.description %></label>
          </div>
        </li>
      <% end %>
    </ul>
  </section>

  <%= month_calendar do |date| %>
    <%= date %>
  <% end %>

	<footer class="footer" style="display: block;">
    <%= link_to "Log Out", logout_path %>
	</footer>
</section>
