<section class="todoapp">

  <header class="header">
	   <h1><%= @listing.title %></h1>
	</header>

  <section class="main">
    <ul class="todo-list">
        <li>
          <div class="view">
            <label>Description: <%= @listing.description %></label>
            <label>Bedrooms: <%= @listing.bedrooms %></label>
            <label>Bathrooms: <%= @listing.bathrooms %></label>
          </div>
        </li>
    </ul>
  </section>

<section>
  <%= month_calendar(attribute: :start_date) do |date| %>
    <%= date %>
  <% end %>
</section>

<%= link_to "Book", new_listing_reservation_path(@listing) %>

<footer class="footer">
    <%= link_to "Log Out", logout_path %>
</footer>

</section>
