<section class="todoapp">

  <header class="header">
	   <h1><%= @listing.title %></h1>
	</header>

  <section class="main">
    <ul class="todo-list">
        <li>
          <div class="view">
            <label>Description: <%= @listing.description %></label>
            <label>Bedrooms: <%= @listing.bedrooms %></label>
            <label>Bathrooms: <%= @listing.bathrooms %></label>
          </div>
        </li>
    </ul>
    <%= link_to "New Reservation", new_listing_reservation_path(@listing, @reservation) %>
    
  </section>

  <%= render partial: "/calendar", locals: {reservations: @reservations} %>


</section>

<%= render "partials/footer" %>
