<section class="todoapp">

  <header class="header">
	   <h1><%= @listing.title %></h1>
	</header>

  <%= link_to "New Reservation", new_listing_reservation_path(@listing), class: 'new-todo' %><br>
  <%= link_to "View Reservations for this property", listing_reservations_path(@listing, @reservation), class: 'new-todo' %>

  <section class="main">
    <ul class="todo-list">
        <li>
          <div class="view">
            <label>Description: <%= @listing.description %></label>
            <label>Bedrooms: <%= @listing.bedrooms %></label>
            <label>Bathrooms: <%= @listing.bathrooms %></label>
          </div>
        </li>
    </ul>
  </section>

  <%= render partial: "/calendar", locals: {reservations: @reservations} %>

</section>

  <%= render "partials/footer" %>
<%= render "maps/index" %>
