<section class="new-todo">
  <%= form_for([@listing, @reservation]) do |f| %>
    <%= f.label "start date" %>
    <%= date_select(:reservation, :start_date) %><br>

    <%= f.label "end date" %>
    <%= date_select(:reservation, :end_date) %>

    <%= f.hidden_field :guest_id, :value => current_user.id %>
    <%= f.hidden_field :user_id, :value => @listing.user_id %>
    <%= f.submit %>

  <% end %>
</section>

<%= render partial: "/calendar", locals: {reservations: @reservations} %>
<%= render "partials/footer" %>
