
<h1 id=<%= @listing.id %>>New Reservation for <%= @listing.title %></h1>


<section class="new-todo">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= form_for([@listing, @reservation]) do |f| %>
    <%= f.label "start date" %>
    <%= date_select(:reservation, :start_date) %><br>
    <%= f.submit %>
  <% end %>
</section>

<%= render partial: "/calendar", locals: {reservations: @reservations} %>
<%= render "partials/footer" %>

<p id="date"></p>
